.admin-page {
    display: grid;
    gap: 4rem;
    margin: 2rem;
    grid-template-columns: 20% 70%;
    width: 80vw;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.main-content > div {
    margin-top: 0;
}