.filter-list {
    margin-top: 175px;
}

.filter-list button {
    margin: 5px;
}

.filter-list button:hover {
    transform: scale(0.95);
}

.filter-list h3 {
    margin: 0 0 10px 5px;
    font-size: 1.5rem;
}