.profile-data {
    display: flex;
    flex-direction: column;
}

.profile-data h2 {
    font-size: large;
}

.account-page {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .account-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-section h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  


  .verification-section {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 4px;
}

.verification-section h2 {
    font-size: 1.8rem;
    color: #dc3545;
}

.verification-section p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.verification-section .form-group {
    margin-bottom: 15px;
}

.verification-section .form-group input {
    width: 60%;
}

.account--btn-container {
    display: flex;
    gap: 14px;
}