.order--item {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    border-bottom: 1px solid rgb(209, 209, 209);
    align-items: center;
}

.order--image {
    width: 80px;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 4px;
    margin-right: 20px;
}

.order--item-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.order--item-title {
    font-size: medium;
    font-weight: medium;
}

.order--item-price {
    font-size: medium;
    font-weight: bold;
    float: right;
}

.order--quantity-controls {
    display: flex;
    gap: 6px;
    align-items: center;
}

.order--quantity-controls button {
    padding: 8px 15px;
}

.order--quantity-controls input {
    width: 60px;
}