* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Noto Sans', sans-serif;
    overflow-y: scroll;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

h2 {
    font-size: 0.75rem;
    font-weight: normal;
}

.poppins {
    font-family: 'Poppins';
}

.noto-sans {
    font-family: 'Noto Sans';
}

.orange {
    background-color: rgb(255, 174, 0);
}

.red {
    background-color: rgb(235, 51, 51);
}

.btn {
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    font-family: 'Noto Sans';
    color: rgb(118, 118, 184);
    font-weight: 400;
    padding: 10px;
    border: 1px solid rgb(118, 118, 184);
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    color: white;
    background-color: rgb(118, 118, 184);
}

.btn-active {
    color: white;
    background-color: rgb(118, 118, 184);
}

.btn-active:hover {
    color: rgb(118, 118, 184);
    background-color: white;
}

.btn:disabled {
    background-color: #b1b1b1;
    cursor: not-allowed;
    color: rgb(66, 66, 66);
    border-color: grey
}

.wrapper {
    display: flex;
    justify-content: center;
}

.text-input, select {
    height: 36px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    padding-left: 6px;
    flex-grow: 1;
}

.text-input:focus, select:focus {
    outline: none;
    border: 1px solid rgb(118, 118, 184);
}

.create-button {
    background-color: rgb(118, 118, 184);
    border-radius: .5rem;
    color: #FFFFFF;
    font-size: 20px;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
}

.create-button:hover {
    background-color: rgb(99, 99, 197);
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
}

.table th,
.table td {
    padding: 12px 16px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.table td {
    background-color: #ffffff;
}

.edit-button {
    width: 100%;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #6E6D70;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 0.5px rgba(255, 255, 255, 0.5), 0 0 0 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
}

.edit-button:hover {
    box-shadow: inset 0 0.8px 0 -0.25px rgba(255, 255, 255, 0.2), 0 0.5px 1px rgba(0, 0, 0, 0.1), 0 0 0 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.checkbox-wrapper {
    --size: 25px;
    position: relative;
}

.checkbox-wrapper *,
.checkbox-wrapper *:before,
.checkbox-wrapper *:after {
    box-sizing: border-box;
}

.checkbox-wrapper .promoted-input-checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox-wrapper input:checked ~ svg {
    height: calc(var(--size) * 0.6);
    animation: draw-checkbox ease-in-out 0.2s forwards;
}

.checkbox-wrapper label:active::after {
    background-color: #e6e6e6;
}

.checkbox-wrapper label {
    color: #0080d3;
    line-height: var(--size);
    cursor: pointer;
    position: relative;
}

.checkbox-wrapper label:after {
    content: "";
    height: var(--size);
    width: var(--size);
    margin-right: 8px;
    float: left;
    border: 2px solid #0080d3;
    border-radius: 3px;
    transition: 0.15s all ease-out;
}

.checkbox-wrapper svg {
    stroke: #0080d3;
    stroke-width: 3px;
    height: 0;
    width: calc(var(--size) * 0.6);
    position: absolute;
    left: calc(var(--size) * 0.21);
    top: calc(var(--size) * 0.2);
    stroke-dasharray: 33;
}

@keyframes draw-checkbox {
    0% {
        stroke-dashoffset: 33;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:read-only {
    background-color: #e4e4e4;
    cursor: not-allowed;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
}